{% load static %}

<footer>
    <div class="container">
        <div class="contacto">
            <a href="https://api.whatsapp.com/send?phone=573105492090&text=Hola">
                <i class="fi fi-brands-whatsapp"></i>
                <h3>+57 3105492090</h3>
            </a>
            <a href="mailto:iindecsas@gmail.com"><i class="fi fi-rs-circle-envelope"></i></a>
            <a class="texto-correo" href="mailto:iindecsas@gmail.com">iindecsas@gmail.com</a>
        </div>
        <div>
            <a href="" class="facebook">
                <i class="fi fi-brands-facebook"></i>
            </a>
            <a href="" class="twitter">
                <i class="fi fi-brands-twitter"></i>
            </a>
            <a href="https://www.instagram.com/indescsas" class="instagram">
                <i class="fi fi-brands-instagram"></i>
            </a>
            <a href="" class="linkedin">
                <i class="fi fi-brands-linkedin"></i>
            </a>
        </div>
    </div>
</footer>