{% load static %}

<footer>
    <div class="container">
        <div class="contacto">
            <a href="https://api.whatsapp.com/send?phone=573105492090&text=Hola">
                <i class="fi fi-brands-whatsapp"></i>
                <h3>+57 3006879813</h3>
            </a>
            <a href="mailto:andalfmedinag@hotmail.com"><i class="fi fi-rs-circle-envelope"></i></a>
            <a class="texto-correo" href="mailto:andalfmedinag@hotmail.com">andalfmedinag@hotmail.com</a>
        </div>
        <div>
            <a href="https://www.facebook.com/andresmedinadv" target="_blank" class="facebook">
                <i class="fi fi-brands-facebook"></i>
            </a>
            <a href="https://github.com/Ing-Andres-Medina" target="_blank" class="github">
                <i class="fi fi-brands-github"></i>
            </a>
            <a href="https://www.instagram.com/andresmedinadv" target="_blank" class="instagram">
                <i class="fi fi-brands-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/andres-alfonso-medina-gomez" target="_blank" class="linkedin">
                <i class="fi fi-brands-linkedin"></i>
            </a>
        </div>
    </div>
</footer>